
.eachMeal {
    border: 2px solid #E14D2A;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    display: grid;
    grid-template-columns: 2;
}

.userMeal {
    grid-column: 1;
    border: 1px solid #E14D2A; 
    align-items: center;
}

.userOptions {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editMeal{
    grid-column: 1 / span 2;

}

.likeBtn, .deleteBtn {
    background-color: #F9D949;
    color: black;
}